@media screen and (max-width:930px){

.menu{display: none;

}

.logo{
    text-align: center;
    margin: 0;
}
.navbar{
    position: relative;
}

.container{padding-top: 0px;}


.texto{
    flex: 100%;
    text-align: center;
    margin: 5%;
}


.imagem{
    flex: 100%;
    text-align: center;
    margin: 5%;
    
   
}


.card{
    width: 100%;
    margin-top: 5%;
}

}